<div class="card card-inverse bg-light">
		<div class="card-header">
			<h3 class="card-title text-left"><b><i class="fa fa-tasks" ></i> Manage Quotation/ Add Your requirement</b></h3>
		</div>   
		<div class="card-body">   


   <div class="row " >

	<div class="col-md-12" style="margin-top:0px;">
		<div class="card card-default" style="box-shadow:none;">
			<!-- <div class="card-header"> -->
				<!-- <h4 class="card-title text-left"><b><i class="fa fa-barcode"></i>  Standard Reference Info</b></h4> -->
			<!-- </div> -->
			<div class="card-body" style="box-shadow:none;">
				
				<form class="form-horizontal bg-light p-2" name="quoteform" novalidate>
				
				
				
				<div class="form-group row">
				
				<div   class="col-sm-3">
				
					
					<label for="InvoiceDate" class=" control-label"> Date</label>
						<div class="input-group ">
	<input type="text" class="form-control input-sm" ng-disabled="qflag.disabled" uib-datepicker-popup ng-model="quote.QDate" is-open="popup2.opened[$index]" datepicker-options="dateOptions" 
	close-text="Close"   ng-required="true"/>
	<span class="input-group-btn">
	<button type="button" class="btn btn-default btn-sm" ng-click="open2($index)"><i class="fa fa-calendar"></i></button>
	</span>
	</div>
					
				
				</div>
				
				
					<div   class="col-sm-3 ">
				
					
					<label for="InvoiceDate" class=" control-label">Valid Date</label>
						<div class="input-group ">
	<input type="text" class="form-control input-sm" ng-disabled="qflag.disabled" uib-datepicker-popup ng-model="quote.ValidDate" is-open="popup3.opened[$index]" datepicker-options="dateOptions" 
	close-text="Close"   ng-required="true"/>
	<span class="input-group-btn">
	<button type="button" class="btn btn-default btn-sm" ng-click="open3($index)"><i class="fa fa-calendar"></i></button>
	</span>
	</div>
					
				
				</div>
				
				
					<div class="col-sm-4" ng-if="false">
				<label>Assigned To <i ng-show="quoteform.AssignedTo.$error.required"  class="fa fa-asterisk error"></i> </label>
				
					<ui-select id="AssignedTo" ng-disabled="flags.editflag" ng-model="quote.AssignedTo" name="AssignedTo" ng-required="false" class="form-control p-0"  >
							<ui-select-match placeholder="Select User">
							<span ng-bind="$select.selected.Name"></span>
							</ui-select-match>
							<ui-select-choices  repeat="item.Id as item in (users | filter: $select.search)">
							<span ng-bind="item.Name"></span>
							</ui-select-choices>
							</ui-select>
				</div>
				
				
				</div>
					<div class="form-group row">
				
			
				
				<div   class="col-sm-6">
						  <label for="Customer" class="control-label required">Customer <i ng-show="quoteform.CustId.$error.required" class="fa fa-asterisk error"></i></label>
						  <div class="input-group mb-3">
 	<ui-select id="CustId" ng-disabled="flags.editflag || qflag.disabled" ng-required="true" ng-model="quote.CustId" name="CustId" ng-change="showcustinfo(quote.CustId)"  class="form-control p-0"  >
							<ui-select-match placeholder="Select Customer">
							<span ng-bind="$select.selected.Name"></span>
							</ui-select-match>
							<ui-select-choices  repeat="item.Id as item in (customers | filter: $select.search)">
							<span ng-bind="item.Name"></span>
							</ui-select-choices>
							</ui-select>
  <button class="btn btn-outline-secondary inputbtn btn-sm" ng-hide="qflag.disabled" style="border-radius:0px !important;" ng-click="addnewcust()" type="button" id="button-addon2"><i class="fa fa-plus"></i></button>
</div>

					 
							
					</div>
				</div>
			
				
				
				
				<div class="form-group row">
					<div class="col-sm-12 text-left">
				<button class="btn btn-info  mt-2 "  ng-click="additemrow('new','')"> <i class="fa fa-plus"></i>Add Item</button>
							</div>	
				</div>
					
				
				
				
				
				<div class="form-group row">
				<div class="col-sm-12">
				<table class="table table-borderless mb-0 align-middle" style="font-size:12px;">
			
				
				
	
				
				<tr class="table-info" >
								<th class=" text-left" style="width:30px;padding-top:5px;padding-bottom:5px;">#</th>
								<th colspan="1" class=" text-left" style="padding-top:5px;padding-bottom:5px;">Particulars</th>
								
								<th class=" text-left" style="padding-top:5px;padding-bottom:5px;">Qty.</th>
								<th colspan="1" class=" text-right" style="padding-top:5px;padding-bottom:5px;">Rate</th>
								<th colspan="1" class=" text-right" style="padding-top:5px;padding-bottom:5px;">Total</th>
								<th colspan="1" class=" text-right" style="width:30px;padding-top:5px;padding-bottom:5px;">Action</th>
							</tr>
							<tr class="table-light" ng-if="quote.Details.length<1" >
							<td colspan="6" class="text-center"> <label>No entries</label></td>
							</tr>
				<tr ng-repeat="item in quote.Details track by $index"  class="" style="">
								<td class="text-left align-middle"  style="vertical-align:middle;"> {{$index+1}}</td>
								<td colspan="1" class="text-left"  style="vertical-align:middle;max-width:300px;"> 
								<table class="table table-borderless">
								<tr><td class="p-0" >Sample: {{item.SampleName}} - {{item.SampleWeight}}, TAT:	{{item.TAT}}</td></tr>
									<tr><td  class="p-0">Category/Group: {{item.Industry}}		</td></tr>
									<tr><td  class="p-0">Test: {{item.TestName}}		</td></tr>
									<!-- <tr><td  class="p-0">Condition: {{item.TestCondition}}		</td></tr> -->
									<tr><td  class="p-0" >Standard: <div  style="inline-size: 300px;
    overflow-wrap: break-word;;">{{item.SubStdName}}</div >		</td></tr>
									<!-- <tr  ng-if="item.TestMethod"><td  class="p-0">Test Method: {{item.TestMethod}}		</td></tr> -->
										<tr ng-if="item.LabIds"><td  class="p-0">Lab: {{item.labnames.toString()}}		</td></tr>
										<tr ng-if="item.PlanParameters"><td  class="p-0">Plan: {{item.Plan}}	<br>			<ul class="list-inline" style="max-width:300px;overflow:hidden;">
  <li class="list-inline-item" ng-repeat="k in item.PlanParameters" style="word-break: break-all;" >
<small class="badge text-bg-light "  style="text-overflow:ellipsis;max-width: 200px;
    overflow: hidden;" >{{k.Parameter}} , TM: {{k.TestMethod}} ;</small></li></ul>	</td></tr>
										
							
									<!-- <tr ><td  class="p-0"> -->
									<!-- <table class="table table-bordered table-sm mb-0"> -->
									<!-- Parameters Below -->
									<!-- <tr ng-repeat="k in item.sds"><td  class="p-0">{{k.Parameter}}	</td></tr> -->
									<!-- </table> -->
										<!-- </td></tr> -->
									
								</table>
								
												
								</td>
								
								<td colspan="1" class="text-left"  style="vertical-align:middle;"> 
								{{item.Qty}}								
								</td>
							
								<td colspan="1" class="text-right"  style="">
								
							{{item.Price}}</td>				<td colspan="1" class="text-right align-middle">
							<span class="fa">{{appset.Currency}}</span> {{item.Price*item.Qty | number:2}}</td>	
<td> 
<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">

<button class="btn btn-outline-primary"  ng-click="additemrow(item,$index)"><i class="fa fa-pencil"></i> </button>
<button class="btn btn-outline-primary "  ng-click="delitem(item,$index)"><i class="fa fa-remove"></i> </button>
</div>
</td>								
								</tr>
								
								<tr class="table-group-divider">
								<td colspan="3"> 
								
								</td>
								<td colspan="3">
								
								<table class="table table-light table-borderless" style="font-size:13px;">
								<tr>
								<td style="width:100px;" class="text-right">
								<strong>Sub-total		</strong>					
								</td>
								<td style="width:250px;" class="text-right">
									<strong> {{quote.SubTotal | number:2}}</strong>
								</td>								
								</tr>
								
                                <tr ng-if="!qflag.disabled">
								<td class="text-right">								
									<strong>Discount</strong>															
								</td>
								<td  class="text-right">
								<strong>
								<div class="input-group ">
									<input type="text" money class="form-control " style="width:100px;" placeholder="Discount" ng-change="updatetotal(quote)" ng-model="quote.Discount">
				 <span class="input-group-text"><i class="fa fa-percent"></i></span>
		
								
								</div> </strong>
								</td>	
								</tr>
								
								<tr>
								<td  class="text-right">								
									<strong>{{taxlabel}}</strong>															
								</td>
								<td class="text-right"><strong>
								<div class="input-group ">
								  <div class="input-group-text">
								 <input class="form-check-input mt-0" ng-disabled="qflag.disabled" type="checkbox" ng-model="quote.IsTax"  name="IsTax" ng-change="gettax(quote.IsTax)" ng-true-value="'1'" ng-false-value="'0'" aria-label="Checkbox for following text input">
</div>
									<input type="text" money class="form-control input-sm" placeholder="Tax" ng-disabled="!quote.IsTax" ng-change="updatetotal(quote)" ng-model="quote.Tax">
									 <span class="input-group-text"><i class="fa fa-percent"></i></span>
									
									 </div> </strong>
								</td>	
								</tr>
								
								<tr style="font-size:18px;">
								<td class="text-right">
								<strong>Total	</strong>						
								</td>
								<td class="text-right">
									<strong><span class="fa">{{appset.Currency}}</span> {{quote.Total | number:2}}</strong>
								</td>								
								</tr>
								
								</table>
								
								
								</td>
								</tr>
				</table>
				</div>
				
				<div class="form-group text-left ">
				<div class="col-sm-12">
				<label>Note</label>
				<textarea rows="2" class="form-control" ng-model="quote.Note"></textarea> 
				</div>
</div>				
					
					
					
					
						


	
	</div>

	
					<div class="form-group text-center ">
					<button type="button" class="btn btn-md btn-default " ui-sref="app.quotes" ><i class="fa fa-close"></i> CANCEL</button>
					<button type="button" ng-disabled="quoteform.$invalid || quote.Details.length<1" 
					class="btn btn-md btn-primary" ng-click="quotesave(quote) " ><i class=" fa fa-save "></i> SAVE </button>
						
						</div>
				</form>
				
			</div>
		</div>
	</div>

</div>	
   
   
   </div>
   </div>
   
   

<script type="text/ng-template" id="quoteitemModal.html">
        <div class="modal-header">
          Quotation Item
			 <button type="button" class="close" ng-click="closeqitemModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body p-0">
            <div class="row " >

	<div class="col-md-12" style="margin-top:0px;">
		<div class="card card-default">
			
			<div class="card-body">
				
				<form class="form-horizontal bg-light p-2" name="qitemform" novalidate>
				
				<div class="form-group mb-3 row">
				<div class="col-sm-12 alert alert-info"> All <i class="fa fa-asterisk error"></i> feild are manadotry</div>
				</div>
				
				<div class="form-group mb-3 row">				
					
					<div class="col-md-4 col-sm-4">
					<label for="Supplier" class=" control-label ">Industry<i ng-show="qitemform.PIndId.$error.required" class="fa fa-asterisk error"></i></label>
						
							<ui-select id="PIndId" ng-disabled="editflag || quoteflags.editflag" ng-model="qitem.PIndId" name="PIndId" ng-change="getsubind(qitem.PIndId)" required    >
							<ui-select-match placeholder="Select Industry">
							<span ng-bind="$select.selected.Name"></span>
							</ui-select-match>
							<ui-select-choices  repeat="item.Id as item in (allindustries | filter: $select.search)">
							<div style="color:#000;font-weight:bold;" ng-bind="item.Name  ">			
				</div>
						
							</ui-select-choices>
							</ui-select>
					</div>
					
					<div class="col-md-4 col-sm-4">
					<label for="Supplier" class=" control-label ">{{'SubIndustry'|translate}} <i ng-show="qitemform.SubIndId.$error.required" class="fa fa-asterisk error"></i></label>
						
							<ui-select id="SubIndId" ng-disabled="editflag || quoteflags.editflag" ng-model="qitem.SubIndId" name="SubIndId" ng-change="getcatdata(qitem.SubIndId)" required    >
							<ui-select-match placeholder="Select Sub -Industry">
							<span ng-bind="$select.selected.Name"></span>
							</ui-select-match>
							<ui-select-choices repeat="item.Id as item in (subindustries | filter: $select.search)">
							<div style="color:#000;font-weight:bold;" ng-bind="item.Name  ">			
				</div>
						
							</ui-select-choices>
							</ui-select>
					</div>
					
					<div class="col-md-4 col-sm-4">
					<label for="Supplier" class=" control-label ">{{'Industry'|translate}} <i ng-show="qitemform.IndId.$error.required"  class="fa fa-asterisk error"></i></label>
						
							<ui-select id="IndId"  ng-model="qitem.IndId" name="IndId"  ng-required="true"  ng-change="getinddata(qitem.IndId)"   >
							<ui-select-match placeholder="Select Industry">
							<span ng-bind="$select.selected.Name"></span>
							</ui-select-match>
							<ui-select-choices repeat="item.Id as item in (procategories | filter: $select.search)">
							<div style="color:#000;font-weight:bold;" ng-bind="item.Name  ">			
				</div>
						
							</ui-select-choices>
							</ui-select>
					</div>
							
				</div>
					
			
				
				<div class="form-group mb-3 row">
				
				<div class=" col-sm-12">
		<label class=" text-left" for="infoform_name">Sample Name  <i ng-show="qitemform.SampleName.$error.required"  class="fa fa-asterisk error"></i></label>
		<input  placeholder="SampleName" ng-disabled="issaving || quoteflags.editflag" class="form-control" name="SampleName" ng-model="qitem.SampleName" 
		type="text" autocomplete="off"
				  uib-typeahead="state for state in samplenames | filter:$viewValue | limitTo:8"  required>
		
		<div class="error-container"  ng-show="qitemform.SampleName.$dirty || qitemform.SampleName.$invalid ">
     
		</div>
	
		</div>
				</div>
				
				<div class="form-group mb-3 row">
				
				<div class=" col-sm-12">
		<label class=" text-left" for="infoform_name">Sample Description  <i ng-show="qitemform.Description.$error.required"  class="fa fa-asterisk error"></i></label>
		<input  placeholder="Description" ng-disabled="issaving || quoteflags.editflag" class="form-control" name="Description" ng-model="qitem.Description" 
		type="text"  >
		
		<div class="error-container"  ng-show="qitemform.Description.$dirty || qitemform.Description.$invalid ">
     
		</div>
	
		</div>
				</div>
				
				<div class="form-group mb-3 row">
				
				<div class=" col-sm-6">
		<label class=" text-left" for="infoform_name">Sample Weight  <i ng-show="qitemform.SampleWeight.$error.required"  class="fa fa-asterisk error"></i></label>
		<input  placeholder="SampleWeight" ng-disabled="issaving " class="form-control" name="SampleWeight" ng-model="qitem.SampleWeight" 
		type="text"  >
		
		<div class="error-container"  ng-show="qitemform.SampleWeight.$dirty || qitemform.SampleWeight.$invalid ">
     
		</div>
	
		</div>
		
		
		<!-- <div class=" col-sm-6"> -->
		<!-- <label class=" text-left" for="infoform_name">Turn around Time  <i ng-show="qitemform.TAT.$error.required"  class="fa fa-asterisk error"></i></label> -->
		<!-- <input  placeholder="TAT" ng-disabled="issaving " class="form-control" name="TAT" ng-model="qitem.TAT"  -->
		<!-- type="text"  > -->
		
		<!-- <div class="error-container"  ng-show="qitemform.TAT.$dirty || qitemform.TAT.$invalid "> -->
     
		<!-- </div> -->
	
		<!-- </div> -->
				</div>
				
				
				
				<div class="form-group row" ng-hide="quoteflags.editflag">
				<div class="col-sm-6">
			<label for="addtest" class=" control-label">Select tests for implementation.</label>
			
					<ui-select id="test" multiple  ng-model="qitem.addtest" name="addtest" on-remove="removeapptest($item, $model)" on-select="addtoapplicable($item, $model)"   >
<ui-select-match placeholder="Select Test">
<span ng-bind="$item.TestName"></span>
</ui-select-match>
<ui-select-choices repeat="item.TSeq as item in (alltests | filter: $select.search) ">
<span ng-bind="item.TestName"></span>
</ui-select-choices>
</ui-select>
					
			</div>
				</div>
				
				<div class="form-group mb-3 row">
				
				<table class="table table-condensed table-striped " style="">
							<thead >
							<tr  class="table-info">
								<th style="width:10px;">#</th>
								<th class="text-left col-sm-12 ">Test Details</th>
								
								</tr>
							</thead>
							<tbody>
							<tr ng-if="qitem.applicabletest.length<1"><td colspan="4"> No tests implemented yet</td></tr>	
							<tr ng-repeat="test in qitem.applicabletest track by $index " >
								<td>{{$index+1}}</td>
								<td class=" text-left">
<div class="row">
<div  class="col-sm-4" style="margin-top:10px;">
					<input type="text" class="form-control input-sm" style="font-weight:700;box-shadow:none;border-width:0px;font-size:14px;background:transparent !important;" disabled ng-model="test.TestName" />
					</div>
					<div  class="col-sm-4" style="margin-top:10px;" >
<ui-select id="LabId"  multiple ng-model="test.LabIds" name="LabIds"  on-remove="removelabtest($item, $model)"  >
							<ui-select-match placeholder="Select {{'Accreditation'|translate}}">
							<span ng-bind="$item.Name"></span>
							</ui-select-match>
							<ui-select-choices  repeat=" item.Id as item in alllabs | filter: $select.search">
							<div style="color:#000;font-weight:bold;" ng-bind="item.Name"></div>
						
							</ui-select-choices>
							</ui-select>
</div>

<div class=" col-sm-4" style="margin-top:10px;" ng-hide="true">
						
							<ui-select id="TestCondition"  ng-model="test.TestCondId" 
							name="TestCondition"  ng-required="true"    >
							<ui-select-match placeholder="Select Test Condition">
							<span ng-bind="$select.selected.Name"></span>
							</ui-select-match>
							<ui-select-choices repeat=" item.Id as item in (testconditions | filter: $select.search)">
							<div style="color:#000;font-weight:bold;" ng-bind="item.Name  ">			
				</div>
						
							</ui-select-choices>
							</ui-select>
					</div>

					</div>
					
					<div class="row">


<div class="col-sm-12" style="margin-top:10px;" >
<ui-select id="Std"  ng-model="test.SubStdId" name="SubStdId" style="height:50px;"  required    >
							<ui-select-match placeholder="Select Standard">
							<span  ng-bind="$select.selected.Name"></span>
							</ui-select-match>
							<ui-select-choices  repeat="item.Id as item in (getsubstandards(test.TestId) | filter: $select.search)">
							<div style="color:#000;font-weight:bold;" ng-bind="item.Name  ">			
				</div>
						
							</ui-select-choices>
							</ui-select>
</div>

<div class="col-sm-6" style="margin-top:10px;" ng-hide="true" >
<div class="input-group m-0 p-0">

<ui-select id="PlanId"   ng-model="test.PlanId" name="PlanId" class="form-control p-0"      >
							<ui-select-match placeholder="Select parameters as per plan">
							<span ng-bind="$select.selected.Name"></span>
							</ui-select-match>
							<ui-select-choices  repeat="item.Id as item in (getsubplans(test.SubStdId) | filter: $select.search)">
							<div class="display-block" style="color:#000;font-weight:bold;border:1px solid #ddd;padding:4px;white-space:initial;" >
							{{item.Name}}	<br>
							
							<ul class="list-inline">
  <li class="list-inline-item">
<small class="badge text-bg-light " style="margin-left:2px;" ng-repeat="p in item.VParameters"> {{p.Parameter}} </small></li></ul>							
				</div>
							</ui-select-choices>
							</ui-select>
							<button ng-if="test.PlanId"  class="btn btn-outline-secondary inputbtn btn-sm" type="button" ng-click="editsubstdplan(test.PlanId)" id="button-addon2"><i class="fa fa-pencil"></i></button>
						
							<button class="btn btn-outline-secondary inputbtn btn-sm" type="button" ng-click="addsubstdplan(test.SubStdId)" id="button-addon2"><i class="fa fa-plus"></i></button>
						
</div>
</div>



<div class="col-sm-6" style="margin-top:10px;">
<ui-select id="TMID"  ng-model="test.TestMethodId" name="TestMethodId"     >
							<ui-select-match placeholder="Select Test Method">
							<span ng-bind="$select.selected.Method"></span>
							</ui-select-match>
							<ui-select-choices  repeat=" item.Id as item in (gettestmethods(test.TestId) | filter: $select.search)">
							<div style="color:#000;font-weight:bold;" ng-bind="item.Method  " ng-required="true" >			
				</div>
						
							</ui-select-choices>
							</ui-select>
</div>
<div class="col-sm-6" style="margin-top:10px;" >
<input type="number" placeholder="Observation Quantity" min="1" max="5" class="form-control input-sm" ng-model="test.Qty"  required/>
</div>

<div class="col-sm-12"  style="margin-top:10px;">
<input type="text" class="form-control input-sm" id="purchase" ng-model="test.ExtraInfo" placeholder="Extra Info"   >
</div>
</div>


								</td>



							</tr>
							</tbody>
							</table>
						
			</div>
			
					<div class="form-group text-center ">
					<button type="button" class="btn btn-md btn-default " ng-click="closeqitemModal()" >CANCEL</button>
					<button type="button" ng-disabled="qitemform.$invalid " 
					class="btn btn-md btn-primary " ng-click="qitemsaveall(qitem) " > SAVE </button>
						
						</div>
				</form>
				
			</div>
		</div>
	</div>

</div>	
        </div>
       
    </script>
	
	
	
	
	
