		<table class="table table-bordered"  style="font-size:13px;margin-bottom:0px;">
	<thead class="" >
	<tr style="background:#fff;">
	<th colspan="3" rowspan="4" style="vertical-align:middle;text-align:center;">							
	<img  ng-src="{{appset.Applogo}}" style="height:70px;margin-top:16px;padding:2px;">
	<img ng-if="nablview" src="img/nabllogo.jpg" alt="NABL Logo" style="width:70px;height:70px;margin-top:16px;">
	</th>
	<th style="background:#fff;text-align:center !important;" colspan="6" rowspan="4">
	<div class="" style="min-width:120px;text-align:center;" >										 
	<div  class="fw-bold" style="font-size:15px;padding:5px;" ng-bind-html="appset.Name"></div>
	<div style="font-size:11px;" ng-bind-html="appset.Address"></div>									
	</div>							 
	</th>						
	<th colspan="3" style="padding:2px;font-size:10px;text-align:left;">
	Format No: {{info.FormatNo||'RFI/LAB/F/49'}}
	</th>
	</tr>						
	<tr>
	<th colspan="3" style="padding:2px;font-size:10px;text-align:left;">Rev No. : {{info.RevNo||'01'}}</th>
	</tr>
	<tr>
	<th colspan="3" style="padding:2px;font-size:10px;text-align:left;">Rev Date: {{info.RevDate||'10.09.2017'}}</th>
	</tr>
	<tr>
	<th colspan="3" style="padding:2px;font-size:10px;text-align:left;">PageNo:- 01 of 01</th>
	</tr>
	</thead>
				<tbody>
						<tr>
							<td colspan="4"  rowspan="2" style="text-align:center"><h4><b>SHEAR STRENGTH</b></h4></td>
							
							<td colspan="1" style="padding:2px;font-size:12px;text-align:left;"><b>ULR No.:</b> {{info.ULRNo}}</td>
						</tr>
						<tr>
						<td colspan="1"><b>Issue Date : {{info.ApprovedDate| date :"dd.MM.y"}}</b></td>
						</tr>
						<tr>
							<td colspan="3"><b>Test Report No.:- RFI/SSR/{{info.LabNo}}-{{info.TNo}}</b></td>
							<td colspan="2"><b>Page:- 1 of 1</b></td>
						</tr>
						<tr>
							<td colspan="3"><b>RFI Batch Code No :- {{info.BatchCode}}<span ng-if='info.BatchNo'>-{{info.BatchNo}}</span></b></td>
							<td colspan="2"><b>Test Date: {{info.TestDate| date :"dd.MM.y"}}</b></td>
						</tr>
						<tr>
							<td colspan="5"><b>Heat No :- {{info.HeatNo}}</b></td>
						</tr>
						<tr>
							<td colspan="5"><span editable-text="info.Customer" e-label="Customer :" > <b>Customer :-</b> {{info.Customer || 'Planning Departement' }}</span></td>
						</tr>
						<!-- <tr>
							<td colspan="5"></td>
						</tr> -->
						
						<tr class="text-center">
							<td colspan="5"><b>NATURE OF SAMPLE: {{info.PartName}}</b></td>
						</tr>
						<tr class="text-center">
							<td><b>Size</b></td>
							<td><b>Test Method</b></td>
							<td><b>Test Equipment range</b></td>
							<td><b>Test</b></td>
							<td><b>Condition of sample</b></td>
						</tr>
						<tr style="text-align:center">
							<td>
								{{info.tobbasic.Size.BValue}}
							</td>
							<td>
								{{info.TestMethod}}
							</td>
							<td>
								{{info.tobbasic.Equipment.BValue}}
							</td>
							<td> 
								{{info.tobbasic.Test.BValue}}
							</td>
							<td>
								{{info.tobbasic.Condition.BValue}}
							</td>
						</tr>
						
						<tr>
							<td colspan="5"> </td>
						</tr>
						
						<tr>
							<td colspan="5"><b>Sample :- {{info.tobbasic.Sample.BValue}}</b></td>
						</tr>
						
						<tr>
							<td colspan="5"><b>Gauge Diameter(MM) :- {{info.tobbasic.GaugeDiameter.BValue}}</b></td>
						</tr>
						
						<tr>
							<td colspan="5"><b>Initial area(MM²) :-  {{info.tobbasic.InitialArea.BValue}}</b></td>
						</tr>
						
						<tr>
							<td colspan="5"><b>Shear load(KN) :- {{info.tobbasic.ShearLoad.BValue}}</b></td>
						</tr>
						
						<tr>
							<td colspan="5"><b>Shear Strength(N/MM²) :-  {{info.tobbasic.ShearStrength.BValue}}</b></td>
						</tr>
						
						<tr>
							<td colspan="5"><b>Qauntity tested :-  {{info.tobbasic.QtyTested.BValue}}</b></td>
						</tr>
						
<tr ng-if="info.TNote">
<td colspan="12"><b>Remark :</b><span>{{info.TNote}}</span></td>
</tr>				
<tr>
<td style="vertical-align:top;border-bottom:0px solid;"  colspan="12" >
<p class="text-center" style="font-size:12px;font-weight:bold;">**** END OF REPORT****</p>
<strong>NOTE:</strong>					
<p style="font-size:10px !important;" class="m-0" ng-bind-html="info.Note">  </p>
</td>
</tr>
<tr>
<td colspan="6"  style="vertical-align:middle;min-height:65px;">
<span class="pull-left">
<b>Tested By</b></span>
<figure class="figure" style="display:inherit;">
<img ng-if="info.TestSign" ng-src="{{info.TestSign}}"  class="figure-img img-fluid rounded" style="height:60px;width:120px;padding-left:20px;" alt="{{info.TestedBy}}"/>
<figcaption class="figure-caption text-center" >{{info.TestedBy}}</figcaption></figure>
</td>
<td colspan="6"  style="vertical-align:middle;" >
<span class="pull-left">
<b>Authorised Signature</b> </span>
<figure class="figure" style="display:inherit;">
<img ng-if="info.ApprovedSign" ng-src="{{info.ApprovedSign}}"  class="figure-img img-fluid rounded" style="height:60px;width:120px;padding-left:20px;" alt="{{info.ApprovedBy}}"/>
<figcaption class="figure-caption text-center">{{info.ApprovedBy}}</figcaption></figure>
</td>
</tr>
</tbody>
</table> 