
  <div class="tab-pane " id="nav-quote" role="tabpanel" aria-labelledby="nav-quote-tab" tabindex="0">
  <div class="card">
  <div class="card-body">
	
	<form name="labform" novalidate>
		<div class="form-group row">
		
			<!-- <div class="col-md-3 col-sm-3 "> -->
			<!-- <label  class="control-label">TCNoStart</label> -->
			<!-- <input type="text" class="form-control" id="LabNoStart"  name="LabNoStart" ng-disabled="ds.labseteditflag"  ng-model="labset.LabNoStart" placeholder="LabNo Start"> -->
			<!-- </div> -->
			
			
			<div class="col-md-3 col-sm-3 ">
			<label  class="control-label">TC Format No</label>
			<input type="text" class="form-control" id="CFNo"  name="CFNo" ng-disabled="ds.labseteditflag"  ng-model="certset.CFNo" placeholder="CFNo">
			</div>
			
			<div class="col-md-3 col-sm-3 ">
			<label  class="control-label">RevNo</label>
			<input type="text" class="form-control" id="CRevNo"  name="CRevNo" ng-disabled="ds.labseteditflag"  ng-model="certset.CRevNo" placeholder="CRevNo">
			</div>
			
			<div class="col-md-3 col-sm-3 ">
			<label  class="control-label">Rev Date</label>
			<input type="text" class="form-control" id="CRevDate"  name="CRevDate" ng-disabled="ds.labseteditflag"  ng-model="certset.CRevDate" placeholder="CRevDate">
			</div>
		</div>
	
	
		</div>
		
		
	
			<hr>	
		
		<div class="form-group text-start" >
		<button type="button" class="btn  btn-primary systmbtn"  ng-click="ds.labseteditflag =  !ds.labseteditflag">
		<span ng-if="ds.labseteditflag">Edit</span><span  ng-if="!ds.labseteditflag">Cancel</span>
		 </button>
		
		
			<button type="button" class="btn btn-md btn-success systmbtn" ng-show="!ds.labseteditflag" ng-disabled="oneclick || labform.$invalid" ng-click="savecertinfo(certset)"> <i class="fa fa-save "></i>Update</button>
		</div>	
		
	</form>
	
  </div>
  </div>
 </div>
   

 