<div class="modal-header text-right">

<b>Import Standards </b>
<button type="button" class="close" data-dismiss="modal" ng-click="closestdimpmodal()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body" >	

<div class="col-md-12">	
<form class="form-horizontal" name="impform" novalidate>
			<div class="row bg-faded-primary">
			
			<div class="form-group">
						<div class="col-md-10">
						<label  class=" control-label">Select Industry</label>
						<ui-select id="Type" ng-model="impinfo.IndId"  name="IndId" theme="bootstrap"	remove-selected="false"	 required>
							<ui-select-match placeholder="Select Industry...">
							   {{$select.selected.Industry}}
							</ui-select-match>
							<ui-select-choices repeat="item.Id as item in allindustries track by item.Id  ">
								<div ng-bind="item.Industry | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
						</div>
			</div>
			
			<div class="form-group">
			<div class="col-md-6 p-2">	
				 <input type="file" ngf-select="SelectFile($file)" />
      
		</div>
			<div class="col-md-6 p-2">	
			
        <input type="button" value="Upload" ng-click="UploadStd()" />
		</div>
			</div>
			
			</div>	
						
				
				
				
				
					<div class="row pt-2">
				<div class="col-md-12">	
				
				<p>Your Excel sheet column should be in this Sequence (total 2 columns) <table  class="table table-bordered table-sm mb-0"  style="max-width:500px;overflow:scroll;" cellpadding="0" cellspacing="0">
            <tr >
                <th>Id</th>
                  <th>Standard</th>
				   <th>Description</th>				  
					
            </tr>
			</table>
					</p>
					</div>
					</div>
					
					<div class="row pt-2" ng-show="mystddata.Products.length>0">
				<p> Your sheet contains </p>
					 <table id="tblCustomers" class="table table-bordered table-condensed"  style="max-width:500px;overflow:scroll;" cellpadding="0" cellspacing="0" ng-show="mystddata.IsVisible">
            <tr >
                <!-- <th>Id</th> -->
                  <th>Standard</th>
				   <th>Description</th>				  
				 <th>Industry</th>	
            </tr>
            <tbody  dir-paginate="m in results =( mystddata.Products | filter:q )| itemsPerPage: dbpageSize" total-items="dbtotalitems" current-page="dbcurrentPage" >
                <tr>
                    <!-- <td >{{($index+1)+((currentPage-1)*pageSize) }}</td> -->
                    <td>{{m.Standard}}</td>
                    <td>{{m.Description}}</td>
					  <td>{{m.IndId}}</td>
                </tr>
            </tbody>
        </table>
			<div class="col-md-12 text-center " style="font-size:12px;">
					<button class="btn btn-primary" ng-disabled=" dbtotalitems<1 || impform.$invalid" ng-click="uploadstdtodb('confirm',mystddata)" >Upload To DB</button>
					</div>
				</div>
				
				</div>
					
		</form>		


</div>


<script type="text/ng-template" id="confirmdbModal.html">
<div class="modal-content">
		
			<div class="modal-header bg-success dialog-header-confirm">
				<button type="button" class="close" data-dismiss="modal" ng-click="closedbconfirmModal()" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel" style="margin-top:5px;margin-bottom:5px;"><i class="fa fa-check-square-o"></i> Confirm Publish</h4>
			</div>
		
			<div class="modal-body">
				<p>You are about to add {{log.Products.length}} entries to Database </p>
				<p>Do you want to proceed?</p>
			 </div>
			
			<div class="modal-footer">
				<button class="btn btn-success" ng-disabled="issaving" data-ng-click="uploadstdtodb('approved',log)">Publish</button>
				<button type="button" class="btn btn-danger" ng-click="closedbconfirmModal()">Cancel</button>
			</div>
</script>			