<div class="modal-header text-right">

<b>Import Test Params </b>
<button type="button" class="close" data-dismiss="modal" ng-click="closeparamimpmodal()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body" >	

<div class="col-md-12">	
<form class="form-horizontal" name="impform" novalidate>
			<div class="row bg-faded-primary">
			
			
			
			<div class="form-group">
			<div class="col-md-6 p-2">	
				 <input type="file" ngf-select="SelectFile($file)" />
      
		</div>
			<div class="col-md-6 p-2">	
			
        <input type="button" value="Upload" ng-click="Upload()" />
		</div>
			</div>
			
			</div>	
						
				
				
				
				
					<div class="row pt-2">
				<div class="col-md-12">	
				
				<p>Your Excel sheet column should be in this Sequence (total 6 columns) <table  class="table table-bordered table-sm mb-0"  style="max-width:500px;overflow:scroll;" cellpadding="0" cellspacing="0">
            <tr >
                
			<th>Parameter</th>
			<th>PSymbol</th>
			<th>PUnit</th>
			<th>PDType</th>	
				<th>ISNABL</th>	
			<th>Cost</th>
			<th>Group</th>					
					
            </tr>
			</table>
					</p>
					</div>
					</div>
					
					<div class="row pt-2" ng-show="mydata.Products.length>0">
				<p> Your sheet contains </p>
					 <table id="tblCustomers" class="table table-bordered table-condensed"  style="max-width:500px;overflow:scroll;" cellpadding="0" cellspacing="0" ng-show="mydata.IsVisible">
            <tr >
                <th>Id</th>
                  <th>Parameter</th>
				    <th>PSymbol</th>
				   <th>PUnit</th>
				<th>PDType</th>	
				<th>ISNABL</th>	
					<th>Cost</th>	
<th>Group</th>					
            </tr>
            <tbody  dir-paginate="m in results =( mydata.Products | filter:q )| itemsPerPage: dbpageSize" total-items="dbtotalitems" current-page="dbcurrentPage" >
                <tr>
                    <td >{{$index+1 }}</td>
                    <td>{{m.Parameter}}</td>
                  <td>{{m.PSymbol}}</td>
					 <td>{{m.PUnit}}</td>
					  <td>{{m.PDType}}</td>
					   <td>{{m.ISNABL}}</td>
					   <td>{{m.Cost}}</td>
					   <td>{{m.Group}}</td>
					  <!-- <td>{{m.IndId}}</td> -->
					   <!-- <td>{{m.TestId}}</td> -->
                </tr>
            </tbody>
        </table>
			<div class="col-md-12 text-center " style="font-size:12px;">
					<button class="btn btn-primary" ng-disabled=" dbtotalitems<1 || impform.$invalid" ng-click="uploadtodb()" >Add parameters to test</button>
					</div>
				</div>
				
				</div>
					
		</form>		


</div>