<style>
.form-control {
padding:5px 8px;
}

.sml{
color:#DFDDDF;
}
</style>
<div class="row " >

	<div class="col-md-12 col-md-offset-0" style="margin-top:0px;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title text-center"><b>Element Concentrate Range</b></h2>
			</div>
			<div class="panel-body">
				
				<form class="form-horizontal" name="minmaxform" novalidate>
					<div class="form-group">
						<label class="col-md-2 col-sm-2 control-label">Element Name</label>
						<div class="col-md-4 col-sm-4">
							<select class="form-control" id="Element" name="Element" >
								<option placeholder="Element Name">Select Element Name</option>
								<option ></option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-2 col-sm-2 control-label">Min Value</label>
						<div class="col-md-4 col-sm-4">
							<input type="text" class="form-control" id="Min" ng-model="minmax.Min" name="Min" placeholder="Minimum Value" />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-2 col-sm-2 control-label">Max Value</label>
						<div class="col-md-4 col-sm-4">
							<input type="text" class="form-control" id="Max" ng-model="minmax.Max" name="Max" placeholder="Maximum Value" />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-2 col-sm-2 control-label">Standard Type</label>
						<div class="col-md-4 col-sm-4">
							<select class="form-control" id="Standard" name="Standard" >
								<option placeholder="Standard Type">Select Standard</option>
								<option ></option>
							</select>
						</div>
					</div>
					
					<button type="button" class="btn btn-md btn-success" style="display:block;margin:auto;">Submit</button>
				</form>
				
			</div>
		</div>
	</div>

</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-bordered">
					<th class="text-center">Sr.No.</th>
					<th class="text-center">Element Name</th>
					<th class="text-center">Min Value</th>
					<th class="text-center">MAx Value</th>
					<th class="text-center">Standard</th>
					<tbody>
							
					<tr class="text-center">
					<td >
						1
					</td>
					<td>
						Carbon
					</td>	
					<td>
						0.32
					</td>
					<td>
						0.52
					</td>
					<td>
						EN 10083-3 42CrMo4
					</td>	
					</tr>						
					</tbody>
				</table>
			</div>
		</div>