	

<div class="row mt-4" >
	<div class="col-md-12 col-md-offset-0" style="margin-top:0px;">
		<div class="card  mb-3" >
			
			<div class="card-body p-2 " >
		
			
			
			<div class="row p-2 ">
				
				<form class="form-horizontal mb-4" name="testform" id="fileupload"  method="POST" enctype="multipart/form-data"  data-file-upload="options" 
				data-ng-class="{'fileupload-processing': processing() || loadingFiles}"  novalidate>
				
					
					<toaster-container toaster-options="{'toaster-id': 1, 
    'position-class': 'toast-bottom-right'}"></toaster-container>

	<!----Top Basic Parameters-->					
					
					<div class="form-group row" ng-if="info.basic.TopBasicParameters.length>0" >
					<div class="card " style="box-shadow:none !important;">
			
					<div class="card-body row" >
						<div class="col-md-6 col-sm-6 mb-2" ng-repeat="param in info.basic.TopBasicParameters " >
						<label for="{{param.Parameter}}" class="control-label mb-0">{{param.Parameter}}</label>
						
							<input type="text" ng-if="param.PDType==='T'" class="form-control" name="{{param.Parameter}}" id="{{param.Parameter}}"  ng-model="param.BValue" placeholder="{{param.Parameter}}" required
							uib-typeahead="state for state in param.LCats | filter:$viewValue | limitTo:8"
							>
							
							<input type="text" ng-if="param.PDType==='N'" class="form-control" name="{{param.Parameter}}" id="{{param.Parameter}}"  ng-model="param.BValue" placeholder="{{param.Parameter}}" required>
						


	<!-- <input type="text" ng-if="param.PDType==='L'" class="form-control" name="{{param.Parameter}}" id="{{param.Parameter}}"  ng-model="param.BValue" placeholder="{{param.Parameter}}" required -->
							<!-- uib-typeahead="state.Value for state in param.LCats | filter:$viewValue | limitTo:8" -->
							<!-- >						 -->
							<ui-select id="{{param.Parameter}}" ng-if="param.PDType==='L'"  class="form-control" ng-model="param.BValue" name="{{param.Parameter}}" style="padding:0px;border:0px;" required >
						<ui-select-match placeholder="Select {{param.Parameter}}">
							<span ng-bind="$select.selected.Value"></span>
						</ui-select-match>
						<ui-select-choices repeat="item.Value as item in (param.LCats | filter: $select.search) ">
							<span ng-bind="item.Value" style="color:#000;font-weight:bold;"></span>
						</ui-select-choices>
					</ui-select>
					
					
					
					<div class="input-group" ng-if="param.PDType==='D'" >
	<input type="text" class="form-control input-sm" uib-datepicker-popup ng-model="param.BValue" is-open="popup2.opened[$index]" datepicker-options="dateOptions"  
	close-text="Close"   ng-required="true" >
	
	<button type="button" class="btn btn-default inputbtn btn-sm" style="height:36px;" ng-click="open2($index)"><i class="fa fa-calendar"></i></button>			</div>	
	
	
						</div>
						
					</div>
					</div>
					</div>
				
<!----Image Part-->
<div class="form-group card p-4 shadow-none row"  ng-show=" info.basic.IsImg">
		
		<div class="col-md-12 col-sm-12 text-left" >
					
					 <table class="table table-sm table-bordered table-striped ">
					 <tr>
					 <td>#</td>
					 <td>File</td>
					 <td>Description</td>
					 <td>Action</td>
					 </tr>
					 
					  <tr ng-repeat="fl in info.basic.fileuploads">
					 <td>{{$index+1}}</td>
					 <td>	
<img ng-src="{{fl.url}}" style="height:120px;width:auto;">					 
					 <a ng-href="{{fl.url}}" title="{{fl.name}}" download="{{fl.name}}" >{{fl.name}}</a>					 
					 </td>
					 	 <td>{{fl.description}}</td>
					 <td>
					    <button type="button" class="btn btn-warning cancel" ng-click="deletefile($index,fl)" >                    
                        <span>Delete</span>
                    </button>
					 </td>
					 </tr>
					 <tr ng-if="info.files.length < 1">
					 <td colspan="4"> No files added yet</td>
					 </tr>
					 
					  <tr data-ng-repeat="file in queue"  ng-init="showqueue()" data-ng-class="{'processing': file.$processing()}">
		      <td data-ng-switch data-on="!!file.url">
                    <div class="preview" data-ng-switch-when="true">
                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.url}}" alt="" style="height:100px;"></a>
                    </div>
                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                </td>
                <td>
                    <p class="name" data-ng-switch data-on="!!file.url">
                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.url">
                            <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                            <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                        </span>
                        <span data-ng-switch-default>{{file.name}}</span>
                    </p>
                    <p class="size">{{file.size | formatFileSize}}</p>
                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                </td>
                <!-- <td> -->
                    <!-- <input class="form-control" name="description"  ng-disabled="" ng-model="file.description" placeholder="Description here"> -->
                    <!-- </td> -->
                    <td>
                    <input class="form-control" name="description"  ng-disabled="" ng-model="file.description" placeholder="Description">
                    </td>
               
                <td>
                    <!-- <button type="button" class="btn btn-primary start"  data-ng-click="saveupload(file)" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected' || uploadform.$invalid"> -->
                        <!-- <i class="glyphicon glyphicon-upload"></i> -->
                        <!-- <span>Start</span> -->
                    <!-- </button> -->
                    <button type="button" class="btn btn-warning cancel" data-ng-click="deletefile($index,file)" >
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Delete</span>
                    </button>
                    <!-- <button  type="button" data-ng-controller="FileDestroyController" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy"> -->
                        <!-- <i class="glyphicon glyphicon-trash"></i> -->
                        <!-- <span>Delete</span> -->
                    <!-- </button> -->
                </td>
            </tr>
					 <tr >
					 <td colspan="4">

	
							<div class="row fileupload-buttonbar">

							
								<div class="col-sm-12 text-left" style="padding-top:10px;">
									<!-- The fileinput-button span is used to style the file input field as button -->
									<span class="btn btn-success fileinput-button" >
										 <i class="fa fa-plus"></i>
										<span>Add File/Attachment</span> 
										<input type="file" name="files[]"   >
									</span>
													   
								</div>
										
							</div>

					 </td>
					 </tr>
					 </table>
					
			
  
					</div>
			
          
				
		
</div>		
					
					
					
					
					
					<!-------Observation Part--->
					
					
					
						<div class="form-group row" ng-if="info.basic.TestType==='D'">
						
							<div class="card " style="box-shadow:none !important;">
								
								<div class="card-body" >
								
								
								
								<div class="form-group row"  >
								<div class="col-md-6 offset-2" >
								
								
							
						<table class="table table-bordered table-sm"
						style="background:#fff;font-size:12px;width:460px;" >
						
						
						
						
						<tr  ng-repeat="(key,value) in info.basic.Parameters | groupBy:'CatName'" ng-init="rowIndex = $index" >
						
						<td colspan="5" class="p-0">
						
						<table class="table table-bordered mb-0">
						<tr class="bg-light"  >
						<th style="width:80px;">#</th>
							
										
					<th > 
						
						Observations
						
						
						</th>
						
						
						
						</tr>
						
						<tr ng-repeat=" item in value[0].Values track by $index" >
						<td style="width:30px;" >{{$index+1}}</td>
						
						
						<td >
						<input  type="text" class="form-control"   id="CValue" 
						name="CValue[{{$index}}]" ng-model="item.Value"  placeholder=""/>
					
			
						
								</td>
						


					
						</tr>
						<tr><td colspan="2">Avarage Total Decarb Depth:
						{{getmicrodecarbavg(value[0].Values)}}
						</td></tr>
					</table>
					</td>
</tr>
					</table>
						</div>
						
						
								</div>

					
						
								
								
								
				
									
							

							
								
								</div>
								
							</div>
							
						</div>
					
							
<!----Bottom Basic Parameters-->

		<div class="form-group row" ng-if="info.basic.BottomBasicParameters.length>0" >
					<div class="card " style="box-shadow:none !important;">
			
					<div class="card-body row" >
						<div class="col-md-6 col-sm-6 mb-2" ng-repeat="param in info.basic.BottomBasicParameters " >
						<label for="{{param.Parameter}}" class="control-label">{{param.Parameter}}</label>
						
							<input type="text" ng-if="param.PDType==='T'" class="form-control" name="{{param.Parameter}}" id="{{param.Parameter}}"  ng-model="param.BValue" placeholder="{{param.Parameter}}" required
							uib-typeahead="state for state in param.LCats | filter:$viewValue | limitTo:8"
							>
							
							<input type="text" ng-if="param.PDType==='N'" class="form-control" name="{{param.Parameter}}" id="{{param.Parameter}}"  ng-model="param.BValue" placeholder="{{param.Parameter}}" required>
						


	<!-- <input type="text" ng-if="param.PDType==='L'" class="form-control" name="{{param.Parameter}}" id="{{param.Parameter}}"  ng-model="param.BValue" placeholder="{{param.Parameter}}" required -->
							<!-- uib-typeahead="state.Value for state in param.LCats | filter:$viewValue | limitTo:8" -->
							<!-- >						 -->
							<ui-select id="{{param.Parameter}}" ng-if="param.PDType==='L'"  class="form-control" ng-model="param.BValue" name="{{param.Parameter}}" style="padding:0px;border:0px;" required >
						<ui-select-match placeholder="Select {{param.Parameter}}">
							<span ng-bind="$select.selected.Value"></span>
						</ui-select-match>
						<ui-select-choices repeat="item.Value as item in (param.LCats | filter: $select.search) ">
							<span ng-bind="item.Value" style="color:#000;font-weight:bold;"></span>
						</ui-select-choices>
					</ui-select>
					
					
					
					<div class="input-group" ng-if="param.PDType==='D'" >
	<input type="text" class="form-control input-sm" uib-datepicker-popup ng-model="param.BValue" is-open="popup2.opened[$index]" datepicker-options="dateOptions"  
	close-text="Close"   ng-required="true" >
	
	<button type="button" class="btn btn-default inputbtn btn-sm" style="height:36px;" ng-click="open2($index)"><i class="fa fa-calendar"></i></button>			</div>	
	
	
						</div>
						
					</div>
					</div>
					</div>
			
			
					
					<!------------------------>
											<div class="form-group row">
					
				<div class="col-md-4 col-sm-4">
				<label class=" control-label">Test Date </label>	
					<div class="input-group ">
						<input type="text" class="form-control input-sm" id="TestDate" name="TestDate" uib-datepicker-popup ng-model="info.basic.TestDate" is-open="popup2.opened[$index]" datepicker-options="dateOptions" 
						close-text="Close" required>
						<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="open2($index)"><i class="fa fa-calendar"></i></button>
						</span>
					</div>	
				</div>
				


<div class="col-md-4 " >
						<label  class=" control-label">Test Status</label>
						
							<ui-select id="Remark" ng-model="info.basic.Remark" name="Remark"   required >
<ui-select-match placeholder="Select Remark">
<span ng-bind="$select.selected.Text"></span>
</ui-select-match>
<ui-select-choices  repeat=" item.Id as item in (remarks | filter: $select.search)">
<span ng-bind="item.Text"></span>
</ui-select-choices>
</ui-select>
					</div>					
					
			<div class="col-md-4 " >
						<label  class="control-label">Test Remark Note</label>
						<div class="col-md-12 col-sm-12">
						<textarea class="form-control"  name="TNote" ng-model="info.basic.TNote"></textarea>
						
						</div>
					</div>			
					
</div>	

<div class="alert alert-info py-1 px-6" role="alert">
Note: <span ng-bind-html="info.basic.Note"></span></div>
					
					
					<div class="form-group  text-center" >
	<button type="button" class="btn btn-md btn-dark fa fa-" ng-click="cancelsave()" >Cancel</button>
					<button type="button"  ng-disabled="testform.$invalid || flags.oneclick" class="btn btn-md btn-primary "
					 ng-click="saveinfotest(info, testform)"> Save</button>
					
		</div>	
					
		</form>
					
					
								
						</div>
						
				
				
					
					
			
					
			
		
			</div>					
		</div>
	</div>
</div>
			