<div class="row " >

	<div class="col-md-10 col-md-offset-1" style="margin-top:0px;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title text-left"><b><i class="fa fa-key"></i> Change Password</b></h4>
			</div>
						

  
<div class="panel-body">
<div class="col-sm-12 row" style="margin-top:15px;">
	
<form class="form-horizontal col-sm-offset-1" name="passwordform"  novalidate>	
	
	<div class="form-group " >
		<label class=" col-sm-3 control-label " for="passwordform_name">Old Password</label>
		<div class=" col-sm-6">
		<input  placeholder="Old Password" class="form-control" name="Password" ng-model="newpass.OldPassword" 
		type="password"     password-validate required/>
		<!-- <div class="input-help">
         <h4>Password must meet the following requirements:</h4>
			<ul>
				<li ng-class="pwdHasLetter">At least <strong>one letter</strong></li>
				<li ng-class="pwdHasNumber">At least <strong>one number</strong></li>
				<li ng-class="pwdValidLength">At least <strong>8 characters long</strong></li>
			</ul> 
		</div>-->
		<div class="error-container"  ng-show="passwordform.Password.$dirty || passwordform.Password.$invalid ">
        <small class="error showerror"  ng-show="passwordform.Password.$error.required">
            Password is required.
        </small>
		</div> 
		</div>
	</div>
	
	<div class="form-group " >
		<label class=" col-sm-3 control-label " for="userform_name">New Password</label>
		<div class=" col-sm-6">
		<input  placeholder="New Password" class="form-control" name="NewPassword" ng-model="newpass.NewPassword" 
		type="password"     password-validate required/>
		 <div class="input-help">
         <h4>Password must meet the following requirements:</h4>
			<ul>
				<li ng-class="pwdHasLetter">At least <strong>one letter</strong></li>
				<li ng-class="pwdHasNumber">At least <strong>one number</strong></li>
				<li ng-class="pwdValidLength">At least <strong>8 characters long</strong></li>
			</ul> 
		</div>
		<div class="error-container"  ng-show="passwordform.NewPassword.$dirty || passwordform.NewPassword.$invalid ">
        <small class="error showerror"  ng-show="passwordform.NewPassword.$error.required">
            Password is required.
        </small>
		</div>
		
		</div>
	</div>
	
	<div class="form-group">
    <label for="passwordagain" class="control-label col-md-3 col-sm-3 col-xs-12 ">Confirm Password</label>
    	<div class="col-md-6 col-sm-6 col-xs-12">
   		 <input  type="password" class="form-control"  id="inputcnfrmPassword" name="myConfirmField" placeholder="Confirm new password" ng-model="newpass.myConfirmField" data-match="newpass.NewPassword" required>
    
		<div class="error-container"  ng-show="passwordform.NewPassword.$dirty || passwordform.NewPassword.$invalid ">
        <small class="error showerror"  ng-show="passwordform.myConfirmField.$error.required">
            Password is required.
        </small>
		 <small class="error showerror"  ng-show="passwordform.myConfirmField.$error.match" >
		Password do not match!
		</small>
		</div>
    		
		</div>
	</div>
									
	<!----------------------------------------------->
	
	<div class="form-group text-center " style="padding:10px 2px;">
		<button  ng-disabled="oneclick || passwordform.$invalid" ng-click="savepassword(newpass,passwordform)"   class="btn btn-success" 
		style="padding:5px 15px 5px 15px;">Update
		</button>
		<button class="btn btn-danger" ng-click="cancelupdate()">Cancel</button>
	</div>
	
</form>

</div>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}" style="margin-top:15%;"></toaster-container>

</div><!--Panel body-->

	</div>
	</div>

</div>	
