<style>
.form-control {
padding:5px 8px;
}

</style>
<div class="row " >

	

	<div class="col-md-10 col-md-offset-0" style="margin-top:20px;">
		<div class="card card-default">
			<div class="card-header">
				<h3 class="card-title text-left"><b><i class="fa fa-barcode"></i> Standard Reference Info</b></h3>
			</div>
			<div class="card-body">
			<div class="row mb-2">
			<div class="col-md-6" >
		<button class="btn btn-primary "  ng-click="editstd('new')"> <i class="fa fa-plus"></i> Add Standard </button>
	</div>
	<div class=" col-md-6">
				
   
   <div class="input-group">
   
      <input type="text" class="form-control" id="inputEmail3"  ng-model="searchstring" placeholder="Search text here">
	    <button class="btn btn-outline-primary btn-sm " type="button" ng-click="refreshdata()"> {{'Reset'| translate}} </button>
    </div>
  
 
				</div>
			</div>
				
				<div class="row">
				<div class="col-md-12">
				<table class="table table-bordered  table-sm table-hover table-striped">
				<thead class="table-info">
					<th class="text-center" style="width:10px">Sr.No.</th>
					<th class="text-left">Standard</th>
					<th class="text-left" ng-if="app.isindustry">Industry</th>
					<th class="text-left">Description</th>
					<th class="text-left " style="width:150px">Action</th>
					</thead>
					<tbody class="table-group-divider">
							
					<tr class="text-left" dir-paginate="item in results =( allstds) | filter:searchstring  | itemsPerPage: pageSize  " current-page="currentPage">
					<td >
						{{($index+1)+((currentPage-1)*pageSize) }}
					</td>
					<td>
						{{item.Standard}}
					</td>	
					<td ng-if="app.isindustry">
						{{item.Industry}}
					</td>	
					<td class="text-left">{{item.Description}}</td>
					<td class="center">
						<button class="btn btn-default  btn-sm" ng-click="editstd(item,item.Id)"><i class="fa fa-pencil"></i> </button>	
						<button  class="btn btn-default  btn-sm" ng-click="deletestd('confirm',item)" ><i class="fa fa-trash"></i> </button>	
					</td>
					</tr>	
					<tr  class="text-center" ng-if="results.length <1">
				<td colspan="4"><strong>No results found...</strong></td>
			</tr>
									
					</tbody>
				</table>
				</div>
				<dir-pagination-controls></dir-pagination-controls>
			
			
			</div>
		</div>
	</div>

</div>
</div>


<script type="text/ng-template" id="stdviewContent.html">
        <div class="modal-header">
           Standard Detail View
			 <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
			<tbody>
			<tr>
				<td class="text-right col-md-2 bg-info"><strong>Standard</strong></td>
				<td class="text-left">{{viewstd.Standard}}</th>
				</tr>
					<tr class="text-center">
					<td class="text-right col-md-2 bg-info"><strong>Description</strong></td>
					<td class="text-left">{{viewstd.Description}}</td>
					</tr>
				</tbody>
			</table>
        </div>
        <div class="modal-footer">
          <!--   <button class="btn btn-primary" type="button" ng-click="ok()">OK</button> -->
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

<script type="text/ng-template" id="stdaddModal.html">
        <div class="modal-header">
           Standard Add/Edit
			 <button type="button" class="close" ng-click="closestdModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="row " >

	<div class="col-md-12" style="margin-top:0px;">
		
				<form class="form-horizontal" name="stdform" novalidate>
				
					
					<div class="form-group"  >
						
					
						<label  class=" control-label">Industry Type</label>
						<ui-select id="Type" ng-model="info.IndId"  name="IndId" theme="bootstrap" 	remove-selected="false"	 required>
							<ui-select-match placeholder="Select Industry...">
							   {{$select.selected.Name}}
							</ui-select-match>
							<ui-select-choices  repeat="item.Id as item in  (allindustries | filter: $select.search)  ">
								
								<div style="color:#000;font-weight:bold;" ng-bind="item.Name ">			
				</div>
				
							</ui-select-choices>
						</ui-select>
						
						
					</div>
					<div class="form-group">
						<label class=" control-label">Standard Name</label>
						<div class="">
							<input type="text" class="form-control" id="Standard" ng-model="info.Standard" name="Standard" placeholder="Standard Name" required ng-maxlength="200" />
							<div class="error-container" >
				
				<small class="error" ng-show="stdform.Standard.$error.maxlength">
					 Name cannot be longer than 200 characters
				</small>
				
				</div>	
						</div>
					</div>
					
					<div class="form-group">
						<label class=" control-label">Description</label>
						<div class="">
							<textarea type="text" rows="2" class="form-control" id="Description" ng-model="info.Description" name="Description" placeholder="Standard Description"></textarea>
						</div>
					</div>
					
					
						



	
					<div class="form-group text-center">
					<button type="button" class="btn btn-md btn-default fa fa-" ng-click="closestdModal()" >Cancel</button>
					<button type="button" ng-disabled="stdform.$invalid" class="btn btn-md btn-primary fa fa-" ng-click="stdsave(info) && stdform.$valid" >Save</button>
						
						</div>
				</form>
				
			</div>
		</div>
	</div>


    </script>
	
	
<script type="text/ng-template" id="confirmModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Confirm Delete</h3>
	</div>
	<div class="modal-body">
<h5 class="text-info"> Are you sure you want to delete standard {{info.Standard}} <br> This procedure is irreversible.</h5>
	   
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="deletestd('delete',info)">OK</button>
		<button class="btn btn-warning" type="button" ng-click="delcancel()">Cancel</button>
	</div>
</script>

