<style>
.form-control {
padding:5px 8px;
}

.sml{
color:#DFDDDF;
}
</style>
<div class="row " >
	
	
	<div class="col-md-12" style="margin-top:0px;">
		<div class="card card-default">
			<!-- <div class="card-header"> -->
				<!-- <h3 class="card-title text-left"><b><i class="fa fa-flask"></i> Sub Standards</b></h3> -->
			<!-- </div> -->
			<div class="card-body">
			<div class="row">
			<div class="col-md-4" style="padding:15px;">
		
			<button class="btn btn-primary "   ng-click="editconcnt('new','0')" id="add_cp"> <i class="fa fa-plus"></i>Add Sub Standards/Grades/Class</button>
	</div>
			<div class=" col-md-5" style="padding:15px;">
				<!-- <form class="form-horizontal "> -->
   <!-- <div class="form-group"> -->
   
    <!-- <div class="col-md-10"> -->
      <!-- <input type="text" class="form-control" id="inputEmail3" ng-model="searchstring" placeholder="Search"> -->
    <!-- </div> -->
  <!-- </div> -->
  <!-- </form> -->
  
  
  		<form name="searchform"  ng-submit="searchdata(searchstring)">
								 <div class="form-group">
		                       		 <div class="input-group">
							<input type="text" class="form-control input-sm" id="search1" ng-model="searchstring" placeholder="Search text ..Here.." />
                               
                                <button class="btn btn-sm btn-primary" type="submit" ><i class="fa fa-search"></i></button>
                             <button type="button" class="btn btn-outline-primary btn-sm " ng-click="refreshdata()"> {{'Reset'| translate}} </button>
                             
                        </div>
						</div>
						</form>	
						
						
				</div>
			</div>
				
				<div class="col-md-12">
				<table class="table col-md-12 table-bordered table-hover table-sm">
				<thead class="table-info">
					<th class="text-left" style="width:10px">#</th>
					<th class="text-left">Grade</th>
					<th class="text-left">Standard</th>
					<!-- <th class="text-left">Cost</th> -->
						<th class="text-left">Industry</th>
						<th class="text-left">Test</th>
					
					
					<th class="text-center " style="width:150px">Action</th>
					</thead>
					<tbody class="table-group-divider">
							
					<tr class="text-left" pagination-id="substd" dir-paginate="item in results =( allsubdata  ) |itemsPerPage: pageSize   " total-items="totalitems" current-page="currentPage">
					<td >
						{{($index+1)+((currentPage-1)*pageSize) }}
					</td>
					 
					<td>
						 {{item.Grade}} 
					</td>
					<td>
						{{item.Standard}}
					</td>
					<!-- <td> -->
						<!-- {{item.Cost}} -->
					<!-- </td> -->
					<td>
						{{item.Industry}}
					</td>
					<td>
						{{item.Testnames}}
					</td>
				
					
					<td class="center">
					<button  class="btn btn-default  btn-sm" ng-click="showranges(item)" > <i class="fa fa-eye"></i></button>	
						<button class="btn btn-default  btn-sm" ng-click="editconcnt(item,item.Id)"> <i class="fa fa-pencil"></i></button>	
						
					</td>
					</tr>	
					<tr  class="text-center" ng-if="results.length <1">
				<td colspan="4"><strong>No results found...</strong></td>
			</tr>
									
					</tbody>
				</table>
				
				<dir-pagination-controls pagination-id="substd"  on-page-change="getallstds(newPageNumber)"></dir-pagination-controls>
			
			
			</div>
		</div>
	</div>

</div>
	
	
		
	

</div>

<script type="text/ng-template" id="viewModal.html">
        <div class="modal-header">
          <strong>{{range.Grade}} - Sub Standard details </strong>
			
			 <button type="button" class="btn btn-sm btn-outline-light pull-right float-end" data-dismiss="modal" ng-click="cancel1()"><i class="fa fa-close"></i></button>
        </div>
        <div class="modal-body">
		<div class="row"  ng-repeat="(key, value) in range.Parameters | groupBy:'TUID'  ">
						<div class="col-md-12 " >
						<h4 class="bg-light p-2"> {{key }} </h4>
           <table class="table table-bordered  table-sm mb-0" >
				<tr class="table-info">
						<td rowspan="2" class=" text-center active" >Parameter</td>						
						<td rowspan="2" class=" text-center active" >Unit</td>
						<td  colspan="2" class=" text-center active">Specifications</td>
						
						<td rowspan="2" class=" text-center active" >Cost</td>
						
				</tr>	
				<tr class="table-info">
						
						<td class=" text-center active"> Min</td>
						<td class=" text-center active"> Max</td>
						
						
				</tr>		
					
						<tr class="text-left " ng-repeat="item in value " >
							
							<td class=" text-left">
								<label><strong>{{item.Parameter}}  {{item.PSymbol}}</strong></label>
							</td>	
							
							<td class="text-left">
								
								<label>{{item.PUnit }}</label>
							</td>	
							<td class="text-left">
								
								<label ng-if="item.SpecMin">{{item.SpecMin }} 
								</label>
								
								
							</td>
							<td class="text-left">
								
								<label ng-if="item.SpecMax">{{item.SpecMax}} </label>
								
							</td>
<td class="text-left">
								
								<label>{{item.Cost }}</label>
							</td>								
							<td class="text-left">
								<label>{{item.Permissible}}</label>
								
								
							</td>	
							
						</tr>
				
						
				</table>
				 </div>
				  </div>
        </div>
        <div class="modal-footer">
          <!--   <button class="btn btn-primary" type="button" ng-click="ok()">OK</button> -->
            <button class="btn btn-warning" type="button" ng-click="cancel1()">Close</button>
        </div>
</script>


<script type="text/ng-template" id="confirmModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Confirm Delete</h3>
	</div>
	<div class="modal-body">
<h5 class="text-info"> Are you sure you want to delete <br> This procedure is irreversible.</h5>
	   
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="deleteconcnt('delete',range)">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</script>


<script type="text/ng-template" id="stdchembasicaddModal.html">
        <div class="modal-header">
         Sub Standards 
			
			 <button type="button" class="btn btn-sm btn-outline-light pull-right float-end" data-dismiss="modal" ng-click="closechemstdModal()"><i class="fa fa-close"></i></button>
        </div>
        <div class="modal-body">
		
				<form class="form-horizontal" name="minmaxform" novalidate >
					
					<div class="form-group">
						<div class="col-md-6 col-sm-6">
					
						<label  class=" control-label">Industry Type</label>
						<ui-select id="Type" ng-model="info.IndId"  name="IndId" theme="bootstrap"
						ng-change="getstdsandtest(info.IndId)"	remove-selected="false"	 required>
							<ui-select-match placeholder="Select Industry...">
							   {{$select.selected.PTree}}
							</ui-select-match>
							<ui-select-choices group-by="'FParent'"  repeat="item.Id as item in (allindustries | filter: $select.search) ">
								<div ng-bind="item.PTree "></div>
								
							</ui-select-choices>
						</ui-select>
						
						</div>
					</div>
					
					
					<div class="form-group row">
						
						
					
					
						
						
						<div class="col-md-6 col-sm-6">
						<label class="control-label">Standard </label>
									<ui-select ng-model="info.StdId" ng-disabled="editflag"   required >
    <ui-select-match  placeholder="select standard">
        <span ng-bind="$select.selected.Standard"></span>
    </ui-select-match>
    <ui-select-choices group-by="'Industry'" repeat="item.Id as item in (allstds | filter: $select.search) track by item.Id">
       {{item.Standard}} 
    </ui-select-choices>
</ui-select>
						</div>
					</div>
						
					
					<div class="form-group row">
						
						<div class="col-md-6">
						<label class="control-label"> Grade/Class</label>
							<input type="text" class="form-control" id="Grade" ng-model="info.Grade" name="Grade" autocomplete="off"
							uib-typeahead="state for state in substdnames | filter:$viewValue | limitTo:8" placeholder="Standard Grade" required />
						</div>
					
					<!-- <div class="col-md-3"> -->
						<!-- <label class="control-label">Cost</label> -->
							<!-- <input type="text" class="form-control" id="Grade" ng-model="info.Cost" name="Cost" placeholder="Standard Cost" required /> -->
						<!-- </div> -->
					<!-- </div> -->
						
					
					</div>
				<div class="form-group row" >
					<div class="col-sm-12">
							<label class="control-label">Test</label>
									<ui-select ng-model="info.TestIds" multiple ng-disabled="editflag" ng-change="loadparams(info.IndId,info.TestIds,info.Parameters)" required >
    <ui-select-match  placeholder="Select Test">
        <span ng-bind="$item.TestName"></span>
    </ui-select-match>
    <ui-select-choices  repeat="item.Id as item in (alltests | filter: $select.search) ">
       {{item.TestName}} 
    </ui-select-choices>
</ui-select>
						</div>
						</div>
					
						<!-- <div class="form-group row" >	 -->
						<!-- <div class="col-sm-6"> -->
						<!-- <label class="control-label">Select Parameters to </label> -->
							<!-- <ui-select multiple ng-model="info.Parameters" on-remove="removeparameters($item,$model)" close-on-select="false" ng-disabled="editflag"  > -->
    <!-- <ui-select-match  placeholder="Select Parameters"> -->
        <!-- <span ng-bind="$item.Parameter"></span> -->
    <!-- </ui-select-match> -->
    <!-- <ui-select-choices   repeat="item in allparams |limitTo:50 | filter: $select.search "> -->
       <!-- {{item.Parameter}}   -->
    <!-- </ui-select-choices> -->
<!-- </ui-select> -->
						<!-- </div> -->
					<!-- </div> -->
					
					
					
					
					<div class="form-group row">
						
							<table  class="table table-bordered table-condensed" style="margin-bottom:5px;">
				
				
						<tbody   >			
				
					<tr>
					<td   colspan="3"  >
					
					
						<div class="row"  >
						<div class="col-md-12" ng-repeat="(key, value) in info.Parameters   | groupBy: 'TUID' "  >
							
						<table class="table  table-sm table-hover" style="background:#fff;" >
						
						<tr>
						<td><h3>{{key}}</h3></td>
						
						<td colspan="3">
						<!-- <ui-select  ng-model="info.TMID"   ng-disabled="editflag"  > -->
    <!-- <ui-select-match  placeholder="Select Test method"> -->
        <!-- <span ng-bind="$select.selected.Method"></span> -->
    <!-- </ui-select-match> -->
    <!-- <ui-select-choices   repeat="item.Id as item in alltestmethods |limitTo:20 | filter: $select.search "> -->
       <!-- {{item.Method}}   -->
    <!-- </ui-select-choices> -->
<!-- </ui-select> -->
						</td>
						
						</tr>
						
						<tr class="table-info" style="color:#fff;">
						
						<th>Parameter</th>
						
						<th ng-if="false">TestMethod </th>
						<th> Specifications </th>
						
						<!-- <th>Others</th> -->
						
						
						
						</tr>
						<tr  ng-repeat="e in value ">
					
						
						<td style="min-width:150px;"> 

				<div class="form-check">
				 <input type="checkbox"  class="form-check-input"
               ng-model="e.IsMajor" ng-true-value="'1'" ng-false-value="'0'" id="ismajor[{{$index}}]">
				  <label class="form-check-label" for="ismajor[{{$index}}]">
					<strong>{{e.Parameter}} </strong> <span ng-if="e.PUnit">in  {{e.PUnit}}</span>
				  </label>
				</div>


						
						
							
						</td>
					
						<td ng-if="false">
						
			<ui-select  ng-model="e.TMID"   ng-disabled="editflag" required >
    <ui-select-match  placeholder="Select Test method">
        <span ng-bind="$select.selected.Method"></span>
    </ui-select-match>
    <ui-select-choices   repeat="item.Id as item in alltestmethods |limitTo:20 | filter: $select.search ">
       {{item.Method}}  
    </ui-select-choices>
</ui-select>
		
		<!-- <div class="input-group mt-3"> -->
  <!-- <span class="input-group-text">{{appset.Currency}}</span> -->

		<!-- <input  type="number" class="form-control input-sm" placeholder="Cost" ng-required="e.IsMajor ==='1'" ng-model="e.Cost" name="Cost[{{$index}}]" id="Cost[{{$index}}]"/> -->
		<!-- </div> -->
		</td>
						<td>
						
						<div class="input-group input-group-sm mb-3">
						 
  
  <input ng-if="e.PDType==='N'" type="text" placeholder="SpecMin" class="form-control input-sm"  ng-model="e.SpecMin" name="SpecMin[{{$index}}]" id="SpecMin[{{$index}}]" >	

  
  <input ng-if="e.PDType==='N'" type="text"  placeholder="SpecMax" class="form-control input-sm"  ng-model="e.SpecMax" name="SpecMax[{{$index}}]" id="SpecMax[{{$index}}]"/>
</div>
						
					</td>
						
						
						
					
						</tr>
						</table>
						</div>
						
						
						
						</div>
						
					
			
       
</td>

					
					</tr>
				</tbody>
		
				
			</table>
						</div>
			<div class="form-group text-center">						
					
				<button type="button" class="btn btn-md btn-secondary " ng-click="closechemstdModal()" >Cancel</button>
				<button type="button" class="btn btn-md btn-primary "  ng-disabled="minmaxform.$invalid" ng-click="rangesave(info)" id="cp_submit" >Submit</button>
			</div>	
				
				</form>
			
        </div>
        <div class="modal-footer">
        
        </div>
    </script>
		